.positive-button {
    border-radius: 4px;
    background-color: var(--p100);
    color: var(--b200);
    border: 2px solid var(--p200);
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 var(--c100), 0 17px 50px 0 var(--c200);
}

.positive-button:enabled:hover {
    background-color: var(--p500); 
    color: var(--b100);
    border: 2px solid var(--p500);
    cursor: pointer;
  }